tools/skeleton/task/initialize/project/src/config/prototype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dima.tu-berlin.de/myriad/prototype" xmlns:myriad="http://www.dima.tu-berlin.de/myriad/prototype" elementFormDefault="qualified">

  <!-- permitted root elements -->

  <xs:element name="generator_prototype" type="myriad:generator_prototype" />
  <xs:element name="generator_catalog" type="myriad:generator_catalog" />

  <!-- generator_prototype root type -->

  <xs:complexType name="generator_prototype">
    <xs:sequence>
      <xs:element name="imports" type="myriad:imports_container" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Catalog imports container.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="parameters" type="myriad:parameters_container" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A list of global generator parameters.</xs:documentation>
        </xs:annotation>
        <xs:unique name="specification_parameter_name">
          <xs:selector xpath=".//myriad:parameter" />
          <xs:field xpath="@key"></xs:field>
        </xs:unique>
      </xs:element>
      <xs:element name="functions" type="myriad:functions" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A list of named probability functions.</xs:documentation>
        </xs:annotation>
        <xs:unique name="specification_function_name">
          <xs:selector xpath=".//myriad:function" />
          <xs:field xpath="@key"></xs:field>
        </xs:unique>
      </xs:element>
      <xs:element name="enum_sets" type="myriad:enum_sets" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Enumerations used in the described domain model.</xs:documentation>
        </xs:annotation>
        <xs:unique name="specification_enum_set_name">
          <xs:selector xpath=".//myriad:enum_set" />
          <xs:field xpath="@key" />
        </xs:unique>
      </xs:element>
      <xs:element name="string_sets" type="myriad:string_sets" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Finite string sets used in the described domain model.</xs:documentation>
        </xs:annotation>
        <xs:unique name="specification_string_set_name">
          <xs:selector xpath=".//myriad:string-set" />
          <xs:field xpath="@key" />
        </xs:unique>
      </xs:element>
      <xs:element name="record_sequences" type="myriad:record_sequences">
        <xs:annotation>
          <xs:documentation>The record sequences produced by this generator.</xs:documentation>
        </xs:annotation>
        <xs:unique name="specification_record_sequence_name">
          <xs:selector xpath="./*" />
          <xs:field xpath="@key" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- generator_catalog root type -->

  <xs:complexType name="generator_catalog">
    <xs:sequence>
      <xs:group ref="myriad:imports" />
      <xs:element name="parameters" type="myriad:parameters_container" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A list of generator parameters for this catalog.</xs:documentation>
        </xs:annotation>
        <xs:unique name="catalog_parameter_name">
          <xs:selector xpath=".//myriad:parameter" />
          <xs:field xpath="@key"></xs:field>
        </xs:unique>
      </xs:element>
      <xs:element name="functions" type="myriad:functions" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A list of functions for this catalog.</xs:documentation>
        </xs:annotation>
        <xs:unique name="catalog_function_name">
          <xs:selector xpath=".//myriad:function" />
          <xs:field xpath="@key"></xs:field>
        </xs:unique>
      </xs:element>
      <xs:element name="string_sets" type="myriad:string_sets" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Finite string sets for this catalog.</xs:documentation>
        </xs:annotation>
        <xs:unique name="catalog_string_set_name">
          <xs:selector xpath=".//myriad:string-set" />
          <xs:field xpath="@key" />
        </xs:unique>
      </xs:element>
      <xs:element name="enum_sets" type="myriad:enum_sets" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Enumerations for this catalog.</xs:documentation>
        </xs:annotation>
        <xs:unique name="catalog_enum_set_name">
          <xs:selector xpath=".//myriad:enum_set" />
          <xs:field xpath="@key" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- imports -->
  <xs:group name="imports">
    <xs:sequence>
      <xs:element name="import" type="myriad:import" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="imports_container">
    <xs:group ref="myriad:imports" />
  </xs:complexType>
  <xs:complexType name="import">
    <xs:attribute name="path" type="xs:string" use="required" />
    <xs:attribute name="namespace" type="xs:NCName" use="required" />
  </xs:complexType>

  <!-- parameters and arguments -->

  <!-- parameters -->
  <xs:group name="parameters">
    <xs:sequence>
      <xs:element name="parameter" type="myriad:parameter" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="parameters_container">
    <xs:group ref="myriad:parameters" />
  </xs:complexType>
  <xs:complexType name="parameter">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- arguments -->
  <xs:group name="arguments">
    <xs:sequence>
      <xs:element name="argument" type="myriad:argument" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="arguments_container">
    <xs:group ref="myriad:arguments" />
  </xs:complexType>
  <xs:complexType name="argument">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="argument" type="myriad:argument" />
    </xs:choice>
    <xs:attribute name="key" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:string" use="required" />
    <xs:attribute name="ref" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <!-- string / enum set items -->
  <xs:group name="items">
    <xs:sequence>
      <xs:element name="item" type="myriad:item" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="probability" type="myriad:probability-point-context" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <!-- functions -->

  <xs:complexType name="functions">
    <xs:sequence>
      <xs:element name="function" type="myriad:function" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <!-- function -->
  <xs:complexType name="function">
    <xs:choice>
      <xs:element name="argument" type="myriad:argument" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="probability" type="myriad:probability-point-inline" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="key" type="xs:string" use="required" />
    <xs:attribute name="type" type="xs:Name" use="required" />
  </xs:complexType>
  <!-- probability points for the custom discrete probability type -->
  <xs:complexType name="probability-point-inline">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="argument" type="xs:int" use="required" />
        <xs:attribute name="value" type="xs:double" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- in-condext defined probability points -->
  <xs:complexType name="probability-point-context">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="function" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:double" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- string-sets -->

  <xs:complexType name="string_sets">
    <xs:sequence>
      <xs:element name="string_set" type="myriad:string_set" minOccurs="0" maxOccurs="unbounded">
        <xs:unique name="string_set_item_value">
          <xs:selector xpath=".//myriad:item" />
          <xs:field xpath="@value" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="string_set">
    <xs:group ref="myriad:items" />
    <xs:attribute name="key" type="xs:NCName" use="required" />
  </xs:complexType>

  <!-- enum_sets -->

  <xs:complexType name="enum_sets">
    <xs:sequence>
      <xs:element name="enum_set" type="myriad:enum_set" minOccurs="0" maxOccurs="unbounded">
        <xs:unique name="enum_set_item_value">
          <xs:selector xpath=".//myriad:item" />
          <xs:field xpath="@value" />
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enum_set">
    <xs:sequence>
      <xs:element name="item" type="myriad:item" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="key" type="xs:NCName" use="required" />
  </xs:complexType>

  <!-- record sequences -->

  <xs:complexType name="record_sequences">
    <xs:sequence>
      <xs:element name="random_sequence" type="myriad:random_sequence" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="random_sequence">
    <xs:sequence>
      <xs:element name="record_type" type="myriad:record_type" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="cardinality_estimator" type="myriad:cardinality_estimator" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="hydrators" type="myriad:hydrators" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="hydration_plan" type="myriad:hydration_plan" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="generator_tasks" type="myriad:generator_tasks" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="key" type="xs:NCName" use="required" />
  </xs:complexType>
  <xs:complexType name="record_type">
    <xs:sequence>
      <xs:element name="field" type="myriad:field_type" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="field_type">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="hydrators">
    <xs:sequence>
      <xs:element name="hydrator" type="myriad:hydrator" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cardinality_estimator">
    <xs:group ref="myriad:arguments" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="hydrator">
    <xs:group ref="myriad:arguments" />
    <xs:attribute name="key" type="xs:NCName" use="required" />
    <xs:attribute name="type" type="xs:NCName" use="required" />
  </xs:complexType>
  <xs:complexType name="hydration_plan">
    <xs:sequence>
      <xs:element name="hydrator_ref" type="myriad:hydrator_ref" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hydrator_ref">
    <xs:attribute name="ref" type="xs:NCName" />
  </xs:complexType>
  <xs:complexType name="generator_tasks">
    <xs:sequence>
      <xs:element name="generator_task" type="myriad:generator_task" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generator_task">
    <xs:group ref="myriad:arguments" />
    <xs:attribute name="key" type="xs:NCName" use="required" />
    <xs:attribute name="type" type="xs:NCName" use="required" />
  </xs:complexType>
</xs:schema>